* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  outline: 0;
}

body{
  padding: 20px;
  font-family: "Montserrat",sans-serif;
  background-color: #f3ecec;
}
#btn{
  font-size: 1.6rem;
  padding: 0.6rem 0.2rem;
  color: #f7f7f7;
  background-color: rgb(27, 126, 27);
  border-radius: 0.4rem;
  cursor: pointer;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: white;
  box-shadow: 0 0 10px rgba((0), 0, 0, 0.2);
  padding: 30px 25px;
  max-width: 750px;
  margin:  0 auto;
  border-radius: 0.6rem;
}
h1{
  font-size: 2.8rem;
  text-align: center;
}
.description{
  font-size: 1.5rem;
}
.form{
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap:1.5rem
}
.form-group{
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap:1rem
}
.form-group label{
  font-size: 1.4rem;
}
input[type="number"]{
  border: 2px solid gray;
  padding: 0.8rem 0.4rem;
  font-size: 1.4rem;
  border-radius: 0.4rem;
  transition: border 0.2s ease-in;
}
input[type="number"]:focus{
  border: 2px solid rgb(27, 126, 27);
  
}
.total{
font-size: 1.4rem;
}