*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background-color: aliceblue;
}

.btn{
  background-color: pink;
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  color: black;
  position: relative;
  overflow: hidden;
}

.btn::before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-color: orangered;
  left: var(--xpos);
  top: var(--ypos);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: width 0.8s,height 0.5s;
}

.btn span{
  position: relative;
  z-index: 1;
}

.btn:hover::before{
  height: 400px;
  width: 400px;
}